<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290239632467-0qj9s598ujlvr6a6sedro9je5rclms44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290239632467-0qj9s598ujlvr6a6sedro9je5rclms44</string>
	<key>API_KEY</key>
	<string>AIzaSyDodsvSywCUjPjnikF5Evw3lHH_xQ_wLZg</string>
	<key>GCM_SENDER_ID</key>
	<string>290239632467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ezcoding.ezHax</string>
	<key>PROJECT_ID</key>
	<string>ezhax-61e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>ezhax-61e9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290239632467:ios:96a928207a00fb35fd62a6</string>
</dict>
</plist>